<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalle actor</title>
</head>
<body>
    <ul>
        <h3>Actor</h3>
        <li> <%=resultado.first_name %> <%=resultado.last_name %>  </li>
         
    </ul>

    <h3>Peliculas</h3>
    <ul> <% for( let i = 0; i < resultado.peliculas.length; i++ ) { %>
        <li> <%= resultado.peliculas[i].title %>  </li>
    <% } %>
    </ul>
    
</body>
</html>