<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <a href="/movies/new"><h3> Peliculas más nuevas </h3></a>
    <a href="/movies/recommended"> <h3>  Peliculas recomendadas </h3></a>
</head>
<body>
    <%- include('search') -%>
    <h1> Listado de peliculas </h1>
    <ul>
        <% moviesAll.forEach(movie => { %>
            <li>
                <a href="/movies/details/<%= movie.id %>"><%= movie.title %> </a>
            </li> 
        <% }) %>
    </ul>
</body>
</html>