<div>
    <form action="/movies/search" method="POST">
        <label for="searchTitle">search</label>
    <input type="text" name="searchTitle" id="searchTitle">
    <select name="order">
        <option value="rating">Rating</option>
        <option value="awards">Awards</option>
        <option value="length">Length</option>
    </select>
    <input type="submit" value="search">
    </form>
</div>